<div class="input">
  <select name="chart_type" id="chart_type" (change)="exibirGraficos()">
    <option value="0">Todos</option>
    <option value="1">Grafico Pizza</option>
    <option value="2">Grafico Pizza 3D</option>
    <option value="3">Grafico Donut</option>
    <option value="4">Grafico de Barras</option>
    <option value="5">Grafico de Linhas</option>
    <option value="6">Grafico de Colunas</option>
  </select>
</div>

<div class="box">
  <div id="pie_chart"></div>
  <div id="3d_pie_chart"></div>
  <div id="donut_chart"></div>
  <div id="bar_chart"></div>
  <div id="line_chart"></div>
  <div id="column_chart"></div>
</div>