.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.kz-btn {
  width: 90%;
  margin: 4px;
}

.kz-input-text {
  margin-top: 3px;
  width: 290px;
  margin-left: 6px;
  text-align: right;
}

.kz-pad-20 {
  padding: 20px;
}

.col-xs-3 {
  width: 100px !important;
}

.col-xs-3,
.col-xs-8,
.col-xs-9 {
  padding: 0px;
  width: fit-content;
}

.bg-primary {
  border-radius: 10px !important;
  margin: 0 10px;
}

.btn-default {
  background-color: white;
  border-color: black;
}

.btn-default:hover {
  background-color: rgb(212, 212, 212)
}

.btn-warning {
  color: white;
}